body {
    background-color: #0FA3B1;
    font-family: 'Noto Sans KR', sans-serif;
}

.bookstore {
    font-size: 2.0em;
    color: #ffffff;
    margin: 20px;
}

.title {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: 700;
}

.book-image {
    height: 200px;
    border: 2px solid rgb(87, 87, 87);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.35);
}

p {
    text-align: center;
}

.books {
    width: 300px;
    height: 460px;
    border: 2px solid white;
    padding: 15px;
    border-radius: 20px;
    margin: 20px;
    background-color: #CACFD6;
    box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.55);
}

#book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.num-input {
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 60px;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    font-family: 'Noto Sans KR', sans-serif;
    outline: none;
}

.buy-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #F7A072;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.35);
    font-family: 'Noto Sans KR', sans-serif;
}

.buy-button:hover {
    color: white;
    transform: scale(1.05);
}

.book-image:hover {
    transform: scale(1.05);
}

a {
    color: white;
}

a:hover {
    color: black;
}

.cart-products {
    width:110px;
    height:40px;
    background-color: #F7A072;
    border: 2px solid white;
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.35);
    border-radius: 30px;;    
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

